.personList {
  flex-wrap: wrap;
  margin-right: -15px;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 15px 0px;
  margin-bottom: 20px;
  border-bottom: 1px solid;
}

.append {
  display: flex;
  justify-content: flex-end;
}

.btnSort {
  height: 30px;
}

@media (max-width: 768px) {
  .personList {
    margin-right: 0;
  }

  .header {
    flex-direction: column-reverse;
  }

  .append {
    margin-bottom: 10px;
    justify-content: flex-start;
  }
}
